
ul {list-style-type: none;}

.month {
  padding: 70px 25px;
  width: 100%;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  color: #77838F;
  cursor: pointer;
}

.month .next {
  float: right;
  color: #77838F;
  cursor: pointer;
}

.weekdays {
  margin: 0;

}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #C4C4C4;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
}

.days {
  padding: 10px 0;

  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #77838F;
  cursor: pointer;
}

label.active_com {
 padding: 5px;
 background: #8BC53F;
 color: white !important;
 border-radius: 100%;
 font-weight: 700;
 font-size: 13px;
 margin-right: 4px;
 width: 28px;
 height: 26px;
 cursor: pointer;
}
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 14.2%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 14.2%;}
  
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 14.2%;}
}
label.light_active_com{
 padding: 7px;
 background: rgb(119 131 143 / 38%);
 color: #ffffff7a;
 border-radius: 100%;
 font-weight: 700;
 font-size: 13.2px;
 /* margin-right: 4px; */
 width: 30px;
 height: 29px;
 cursor: pointer;
}
label.active_text_number{
 background: #77838f99;
 color: #ffffffb3;
 border-radius: 100%;
 margin-right: 0px;
 line-height: 7px;
 padding-top: 0px;
 width: 26px;
 height: 26px;
 position: relative;
 top: 4px;
 padding: 3px;
 cursor: pointer;
}
span.active_text{
  font-size: 7px;
  font-weight: 100;
}
label.active_violet{
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  label.active_violet{
   padding: 0px;
   background: #78288B;
   color: white !important;
   border-radius: 100%;
   font-weight: 700;
   font-size: 13px;
   margin-right: 0px;
   width: 22px;
   height: 23px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
 }
 .month ul {
  margin: 32px;
  padding: 0;
}
label.active_com {
  padding: 0px;
  background: #8BC53F;
  color: white !important;
  border-radius: 100%;
  font-weight: 700;
  font-size: 13px;
  margin-right: 0px;
  width: 22px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
label.light_active_com{
 padding: 0;
 background: rgb(119 131 143 / 38%);
 color: #ffffff7a;
 border-radius: 100%;
 font-weight: 700;
 font-size: 12px;
 width: 22px;
 height: 23px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
 left: 6px;
}
label.active_text_number{
 background: #77838f99;
 color: #ffffffb3;
 border-radius: 100%;
 margin-right: 0px;
 line-height: 7px;
 padding-top: 0px;
 width: 26px;
 height: 26px;
 position: relative;
 top: 4px;
 padding: 3px;
}
span.active_text{
  font-size: 7px;
  font-weight: 100;
}

.weekdays {
 margin: 0;
 padding-inline-start: 0;
 width: 100%;
 font-size: 11.5px;
 display: flex;
 justify-content: space-between;

}
span.year_text_dialog{
  font-size: 14px;
  color: #77838F;
}
span.month_text_dialog{
 font-size: 14px;
 margin-right: 8px;
 color: #77838F;
}
.days {
  padding: 10px 0;
  margin: 0;
}
h6.breaks_header{
  font-size: 17px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
}
div.dialog_signup_new{
  margin-top: 15px;
}
.calender_dialog_bg{

  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

div.month{
  width: 100%;
  text-align: center;
  padding: 0%;
  margin-bottom: 33px;
  margin-top: 9px;
}
div.btn_container_dialog_calender{
  display: flex;
  justify-content: flex-end;
}
button.calender_btn_dialog{
  background-color: #78288B;
  border-radius: 100%;
  color: #fff;
  width: 34px;
  height: 35px;
  /* font-size: 14px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
span.done_all_icon{
  font-size: 20px;
}

}

@media only screen and (min-width: 768px) {
  .month ul {
    margin: 0;
    padding: 0;
    width: 265px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  label.active_violet{
    padding: 0px;
    background: #78288B;
    color: white !important;
    border-radius: 100%;
    font-weight: 700;
    font-size: 14px;
    margin-right: 0px;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .days li {
   list-style-type: none;
   display: inline-block;
   width: 14.2%;
   text-align: center;
   margin-bottom: 11px;
   font-size: 14px;
   color: #77838F;
 }
 div.dialog_signup_new{
  margin-top: 15px;
}
.calender_dialog_bg{

 height: 500px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 337px;

}

label.active_com {
 padding: 0px;
 background: #8BC53F;
 color: white !important;
 border-radius: 100%;
 font-weight: 700;
 font-size: 14px;
 margin-right: 0px;
 width: 28px;
 height: 28px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
}
label.light_active_com{
  padding: 0;
  background: rgb(119 131 143 / 38%);
  color: #ffffff7a;
  border-radius: 100%;
  font-weight: 700;
  font-size: 15px;
  width: 28px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
label.active_text_number{
  background: #77838f99;
  color: #ffffffb3;
  border-radius: 100%;
  margin-right: 0px;
  line-height: 9px;
  padding-top: 0px;
  width: 32px;
  height: 32px;
  position: relative;
  top: 4px;
  padding: 4px;
}
span.active_text{
  font-size: 10px;
  font-weight: 100;
}

.weekdays {
 margin: 0;
 padding-inline-start: 0;
 width: 100%;
 font-size: 14.5px;
 display: flex;
 justify-content: space-between;

}
span.year_text_dialog{
  font-size: 16px;
  color: #77838F;
}
span.month_text_dialog{
  font-size: 16px;
  margin-right: 8px;
  color: #77838F;
}
.days {
  padding: 10px 0;
  margin: 0;
}
h6.breaks_header{
  font-size: 17px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
}
div.dialog_signup_new{
  margin-top: 15px;
}
div.month{
  width: 100%;
  text-align: center;
  padding: 0%;
  margin-bottom: 33px;
  margin-top: 9px;
}
div.btn_container_dialog_calender{
  display: flex;
  justify-content: flex-end;
}
button.calender_btn_dialog{
 background-color: #78288B;
 border-radius: 100%;
 color: #fff;
 width: 36.5px;
 height: 36.5px;
 /* font-size: 14px; */
 display: flex;
 justify-content: center;
 align-items: center;
}
span.done_all_icon{
  font-size: 22px;
}




}