div.fav_bg_container{
    background-image: url(../../assets/shutterstock_742823347.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

@media only screen and (max-width: 767px) {
    div.fav_bg_container{
        width: 100%;
        height: 100%;
        background-position: revert;
        background-repeat: initial;
        background-size: cover;
    }
  }

  
@media only screen and (min-width: 768px) {
    div.fav_bg_container{
     
   
        width: 100%;
        height: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    

    }
  }


   
@media only screen and (min-width: 992px) {
    div.fav_bg_container{
        background-image: url(../../assets/shutterstock_742823347.jpg);
      
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;


    }
  }