.image_holder {
    height: 1000px;
    background-color: aquamarine;
    width: 500px;
}
.custom-map-modal {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
 }

.final_button:hover{
  background-color: transparent;
  color: #8bc53f;
  border: 2px solid #8bc53f;
}
.special_modal .modal-content{
  background-color: green;
}
@media screen and (min-width: 1200px) {

.main_screen{
    background-size: fill;
    background-attachment: fixed;
}


}