* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
div.red {
  background-image: url(../../assets/choosemealplan.jpg);
  width: 100%;
  height: fit-content;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
div.vertical_line {
  border-left: 2px solid rgba(159, 159, 159, 0.68);

  margin-top: 0;
  height: auto;
  /* border-radius: 9rem; */
}

/* .logo_web{
    display: block;
    margin-left: auto;
    margin-right: auto;
    } */
    /* choose meal component */

    .row_bg {
      background: #f5f5f5;
    }
    div.text_icon_container {
      display: flex;
      justify-content: space-between;
    }
  a.choose_your_meal_text {
      padding: 0.6rem;
      font-size: 10px;
      font-weight: 900;
      letter-spacing: 1px;
   
      font-size: 1.5rem;
      color: #78288b;
      font-family: Roboto;
      margin-left: 5%;
    }
    a.choose_your_meal_text:hover{
     color: #78288b;
   }

   a.choose_your_meal_text2 {
    padding: 0.6rem;
    font-weight: 500;
    letter-spacing: 1px;
  font-size: 0.8rem;
    color: #78288b;
  }
  p.breakfast_text_mealpkgsub {
    font-family: Roboto;
    font-weight: bold;
    color: #303960;
    font-size: 1.2rem;
  }
  img.meal_icon {
    width: 40px;
    height: 44px;
    margin: 1rem;
  }
  button.btn_meal:hover {
    background: #8bc53f;
  }

  /* card component */
  div.fullcard_container {
    /* box-shadow: 1px 4px 12px -5px rgba(61, 61, 61, 0.66); */
    backdrop-filter: blur(4px);
    margin-top: 2rem;
    border-radius: 0.5rem;
    background: hsla(0, 0%, 98.4%, 0.3411764705882353);

    border: none;
  }
  div.content_media {
    margin-top: 0.5rem;
    text-align: start;
  }
  h5.immunne_text_mealpkgsub {
    color: #303960;
    font-weight: 700;
    font-family: "Roboto Condensed Regular";
  }
  h5.bhd_text_mealpkgsub {
    font-weight: 600;
    font-size: 1.2rem;
  }
  a.link_text {
    color: #8bc53f;
    text-decoration: none;
  }
  img.card_img_rounded_mealpkgsub {
    width: 120px;
    box-shadow: 0px 0px 16px -2px rgba(61, 61, 61, 0.66);
  }
  div.vertical_line {
    border-left: 4px solid #bdbdbd;

    margin-top: 1.1rem;
    border-radius: 9rem;
  }
  p.breakfast_text {
    letter-spacing: 0.5px;
    margin-bottom: 0;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.15rem;
  }
  p.something_text {
    color: #303960;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 0.7rem;
    letter-spacing: 0.2px;
    font-weight: 600;
  }
  button.mealbtn_subscription {
    color: white;
    margin-top: 1rem;
    background: #8bc53f;
    width: 12rem;
    border: 1px solid #808080bf;
  }
  button.mealbtn_subscription:hover {
    color: black;
    background: #6e9a34;
  }
  button.mealbtn_subscription:focus {
    outline: none !important;
    border: none;
  }
  div.meal_choosecontainer {
    margin: 0 0 0 0;
    height: 80px;
    top: 0;
    min-width: 100%;
    position: fixed;
    background: white;
  }
  div.main_container_mealpkg {
    height: fit-content;
  }
  
  @media screen and (min-width: 524px) and (max-width:700px) {  
    div.options{
      display: flex;
    }
  }
    @media screen and (max-width: 767px) {

    div.vertical_line {
      display: none;
    }
   #button_drp {
     display: flex;
   }
    }