
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: #979797;
  border-radius: 100%;
  color: #fff;
}
.react-calendar__tile--now {
  background: #77838f8c;
  border-radius: 100%;
  color: #ffffff85;
}
.react-calendar__tile:hover{
  border-radius: 100%;
   background: #979797;
}
.react-calendar__tile--now {
   background: #979797;
}
@media only screen and (max-width: 767px) {

  .react-calendar{
    width: 360px;
    max-width: 100%;
    line-height: 11px;
    font-size: 12px;
    border:none;
    background:transparent;
    font-family: none;
  }
  .react-calendar__navigation {
    height: 45px;
    margin-bottom: 2px;
  }
  .react-calendar__navigation button {
   min-width: 64px;
   background: none;
   font-size: 15px;
   color: #979797;
 }
 span.react-calendar__navigation__label__labelText{
  color: #77838F;
  font-size: 12px;
  font-weight: 700;
}
.react-calendar__month-view__weekdays__weekday {
 padding: 0.5em;
 color: #C4C4C4;
 text-decoration: none;
 font-weight: 300;
 letter-spacing: 1px;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active {
 background: #77838F;
 color: white;
 max-width: 12.2857%;
 border-radius: 100%;
 font-weight: 500;
 letter-spacing: 1px;
 width: 30px;
 height: 31px;
 justify-content: center;
 display: flex;
 align-content: center;
}
.react-calendar__navigation__prev2-button{
  display: none;
}
.react-calendar__navigation__next2-button{
  display:none;
}

}

@media only screen and (min-width: 768px) {
  .react-calendar__tile--now {
    background: #ffffff85;
}
.react-calendar__month-view__days__day{
  background: #979797;
}
  .react-calendar{
    width: 360px;
    max-width: 100%;
    line-height: 11px;
    font-size: 12px;
    border:none;
    background:transparent;
    font-family: none;
  }
  .react-calendar__navigation {
    height: 45px;
    margin-bottom: 2px;
  }
  .react-calendar__navigation button {
   min-width: 64px;
   background: none;
   font-size: 30px;
   color: #979797;
 }
 span.react-calendar__navigation__label__labelText{
  color: #77838F;
  font-size: 17px;
  font-weight: 700;
}
.react-calendar__month-view__weekdays__weekday {
 padding: 0.5em;
 color: #C4C4C4;
 text-decoration: none;
 font-weight: 300;
 letter-spacing: 1px;
 font-size: 13px;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    font-size: 17px;
}
.react-calendar__tile--active {
 background: #77838F;
 color: white;
 max-width: 12.2857%;
 border-radius: 100%;
 font-weight: 500;
 letter-spacing: 1px;
 position: relative;
 /* width: 31px; */
 font-size: 13px;
 /* height: 29px; */
 justify-content: center;
 display: flex;
 align-content: center;
 margin: 0;
 padding: 14px 1px;

}
.react-calendar__navigation__prev2-button{
  display: none;
}
.react-calendar__navigation__next2-button{
  display:none;
}

}