span.change_text_mealaddress {
  color: rgb(139, 196, 65);
}
span.change_text_mealaddress:hover {
  color: #000;
}
div.address_screen_bg {
  background-image: url(../../assets/choosemealplan.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
div.main_container_mealaddressMain {
  display: grid;
  place-items: center;
}
button.week_btn_mealaddress {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: rgb(139, 196, 65);
}
button.continue_btn_mealaddress:hover {
  background-color: #71a132;
}
div.male_container {
}
input.male_input_submeal:checked:after {
 /*  width: 15px;
  height: 15px;
  border-radius: 15px; */
 /*  top: -4px;
 left: -1px; */
 position: relative;
 background-color: rgb(139, 196, 65);
 content: "";
 display: inline-block;
 visibility: visible;
 border: 2px solid rgba(139, 196, 65, 0.049);
}

label.male_text_submeal {
  margin: 3%;
}

@media only screen and (max-width: 767px) {
  input.appointmentdate_subtitle {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    width: 60%;
    margin-top: 11px;
    box-shadow: 1px 2px 0px 0px rgb(22 6 6 / 21%);
    outline: none;
    font-size: 15px;
  }
  div.address_screen_bg {
    background-image: url(../../assets/choosemealplan.jpg);
    width: 100%;
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  label.male_text_submeal_second {
    margin: 3%;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  input.male_input_submeal_second {
    margin-left: 10px;
  }
  div.male_container {
  }
  input.male_input_submeal {
  }
  label.male_text_submeal {
    margin: 3%;
    font-size: 15px;
    letter-spacing: 2px;
  }
  button.week_btn_mealaddress {
    border: 1px solid #71a132;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    height: 44px;
    width: 44px;
    background-color: rgb(139, 196, 65);
  }
  div.fullcard_container_mealaddressmain {
    background: hsla(0, 0%, 98.4%, 0.3411764705882353);
    backdrop-filter: blur(4px);
    /* box-shadow: 1px 4px 12px -5px rgb(61 61 61 / 66%); */
    border-radius: 0.5rem;
    /* background: #77838f6e; */
    text-align: center;
    border: none;
    margin: 3%;
    padding: 5%;
    margin-bottom: 50px;
  }
  textarea.textarea_mealaddress {
    background: white;
    width: 100%;
    border: 1px solid #21212133;
    border-radius: 6px;
    padding: 7px;
  }
  div.vertical_line_appointment_submealaddress {
    display: none;
  }
  div.card_MealAdress {
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 1px 3px 4px -2px rgb(61 61 61 / 66%);
    border-radius: 1rem;
    background: #fafafa;
  }
  div.img_container_mealaddress {
    display: flex;
    justify-content: center;
  }
  img.card_img_rounded_mealaddress {
    width: 129px;
    box-shadow: 0px 0px 16px -2px rgb(61 61 61 / 66%);
  }
  h5.immunne_text_mealaddress {
    color: purple;
    font-weight: 1000;
    font-size: 24px;
    text-align: center;
    margin: 1rem;
  }
  h5.bhd_text_mealaddress {
    color: #303960;
    font-size: 17px;
    font-weight: 500;
    text-align: center;

    font-family: "Roboto Condensed Regular";
  }
  h5.bhd_text_mealaddress_subttile {
    color: #303960;
    font-weight: 500;
    font-size: 13px;
    text-align: justify;
    margin: 1rem;
  }
  h5.week_text_title {
    color: #303960;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 5px;
  }
  h6.subtitle_mealaddress {
    color: grey;
    font-size: 12px;
    margin-top: 4px;
    text-align: center;
    font-weight: 500;
  }
  div.weekdata_mealaddress {
    margin-top: 11px;
    margin-bottom: 8px;
    justify-content: center;
  }
  h6.select_date_mealaddress {
    color: #303960;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 12px;
  }
  div.datepicker_container_mealaddress {
    text-align: center;
    margin-bottom: 18px;
  }
  h6.shipping_title_mealaddress {
    color: #303960;
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
    font-weight: 700;
  }
  p.adress_subtitle_mealaddress {
    font-size: 8px;
    margin: 5px;
  }
  span.change_text_mealaddress {
    font-size: 10px;
    margin: 6px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  button.continue_btn_mealaddress {
    background-color: rgb(139, 196, 65);
    color: #fff;
    margin-top: 2rem;
    padding: 0.7rem;
    width: 16rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.4rem;
  }
  div.btn_Mealadresscontainer {
    display: flex;
    justify-content: center;
  }
  input.male_input_submeal:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    top: -9px;
    left: -1px;
    position: relative;
    background-color: rgb(139, 196, 65);
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(139, 196, 65, 0.049);
  }
  input.male_input_submeal_second:checked:after{
   width: 15px;
   height: 15px;
   border-radius: 100%;
   top: -9px;
   left: -2px;
   position: relative;
   background-color: rgb(139, 196, 65);
   content: "";
   display: inline-block;
   visibility: visible;
   border: 2px solid rgba(139, 196, 65, 0.049);
 }
}
@media only screen and (min-width: 768px) {
  div.address_screen_bg {
    background-image: url(../../assets/choosemealplan.jpg);
    width: 100%;
    height: 100%;
    background-position: unset;
    background-repeat: no-repeat;
    background-size: auto;
  }
  label.male_text_submeal_second {
    margin: 4%;
    font-size: 11px;
    letter-spacing: 0px;
    margin-right: 6px;
    margin-top: 9px;
  }
  input.male_input_submeal_second {
    margin-left: 7px;
    margin-top: 0px;
  }
  div.male_container {
  }
  input.male_input_submeal {
    position: relative;
    top: 3px;
  }
  label.male_text_submeal {
    margin: 4%;
    font-size: 11px;
    letter-spacing: 0px;
    margin-right: 6px;
    margin-top: 9px;
  }
  div.main_container_mealaddressMain {
    display: grid;
    place-items: center;
    margin-top: 0%;
  }
  button.week_btn_mealaddress {
    border: 1px solid #71a132;
    color: #fff;
    border-radius: 25px;
    height: 35px;
    width: 35px;
    font-size: 12px;
    background-color: rgb(139, 196, 65);
  }
  div.fullcard_container_mealaddressmain {
    background: hsla(0, 0%, 98.4%, 0.3411764705882353);
    backdrop-filter: blur(4px);
    /* box-shadow: 1px 4px 12px -5px rgb(61 61 61 / 66%); */
    border-radius: 0.5rem;
    /* background: #77838f6e; */
    height: auto;
    margin-bottom: -7%;
    border: none;
    width: 70%;
    padding: 3%;
    margin-bottom: 50px;
  }
  textarea.textarea_mealaddress {
    background: white;
    width: 100%;
    border: 1px solid #21212133;
    border-radius: 6px;
    padding-left: 7px;
    line-height: 16px;
    height: 117%;
    font-size: 12px;
  }
  div.vertical_line_appointment_submealaddress {
    border-left: 1px solid grey;
    height: auto;
  }
  div.card_MealAdress {
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 1px 3px 4px -2px rgb(61 61 61 / 66%);
    border-radius: 1rem;
    background: #fafafa;
    height: 107%;
  }
  div.img_container_mealaddress {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  img.card_img_rounded_mealaddress {
    width: 109px;
    box-shadow: 0px 0px 16px -2px rgb(61 61 61 / 66%);
  }

  h5.immunne_text_mealaddress {
    color: purple;
    font-weight: 1000;
    font-size: 20px;
    text-align: center;
    margin: 1rem;
  }
  h5.bhd_text_mealaddress {
    color: #303960;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: -8px;
  }
  h5.bhd_text_mealaddress_subttile {
    color: #303960;
    font-weight: 500;
    font-size: 10px;
    text-align: justify;
    margin: 4px;
  }
  h5.week_text_title {
    color: #303960;
    font-size: 12px;
    font-weight: 600;
  }
  h6.subtitle_mealaddress {
    color: grey;
    font-size: 6px;
    margin-top: 3px;
    margin-left: -30px;
  }
  div.weekdata_mealaddress {
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: 2px;
  }
  h6.select_date_mealaddress {
    color: #303960;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
  }
  div.datepicker_container_mealaddress {
    margin-bottom: 18px;
    margin-top: 12px;
  }
  h6.shipping_title_mealaddress {
    color: #303960;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: -7px;
    font-weight: 600;
  }
  p.adress_subtitle_mealaddress {
    font-size: 6px;
    padding: 3px;
    margin-top: 5px;
  }
  span.change_text_mealaddress {
    font-size: 9px;
    margin: 6px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  button.continue_btn_mealaddress {
    background-color: rgb(139, 196, 65);
    color: #fff;
    margin-top: 25px;
    padding: 0.7rem;
    width: 8rem;
    font-size: 16px;
    border: none;
    border-radius: 0.4rem;
    margin-right: -38px;
    height: 41px;
    padding-top: 9px;
  }
  div.btn_Mealadresscontainer {
    display: flex;
    justify-content: flex-end;
  }
  input.appointmentdate_subtitle {
    border: 1px solid #c4c4c433;
    border-radius: 5px;
    background-color: #fff;
    padding: 2%;
    width: 100%;
    font-size: 10px;
    box-shadow: 1px 3px 4px -2px rgb(61 61 61 / 66%);
    outline: none;
  }
  input.male_input_submeal:checked:after {
    background-color: rgb(139, 196, 65);
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(139, 196, 65, 0.049);
  }
  input.male_input_submeal_second:checked:after{
    background-color: rgb(139, 196, 65);
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    top: -9px;
    left: -1px;
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(139, 196, 65, 0.049);
  }
}

@media only screen and (min-width: 992px) {
  input.male_input_submeal:checked:after {
    background-color: rgb(139, 196, 65);
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(139, 196, 65, 0.049);
  }
  input.male_input_submeal_second:checked:after{
    background-color: rgb(139, 196, 65);
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    top: -9px;
    left: -1px;
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(139, 196, 65, 0.049);
  }
  input.appointmentdate_subtitle {
   margin-top: 4%;
   border: 1px solid #c4c4c433;
   border-radius: 5px;
   background-color: #fff;
   padding: 2%;
   width: 140px;
   font-size: 13px;
   box-shadow: 1px 3px 4px -2px rgb(61 61 61 / 66%);
   outline: none;
 }
 div.address_screen_bg {
  background-image: url(../../assets/choosemealplan.jpg);
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
label.male_text_submeal_second {
  margin: 4%;
  font-size: 11px;
  letter-spacing: 0px;
  margin-right: 6px;
  margin-top: 0px;
  position: relative;
  top: -2px;
}
input.male_input_submeal_second {
  margin-left: 7px;
  margin-top: 0px;
}
button.week_btn_mealaddress {
  border: 1px solid #71a132;
  color: #fff;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  font-size: 10px;
  background-color: rgb(139, 196, 65);
}
div.fullcard_container_mealaddressmain {
  background: hsla(0, 0%, 98.4%, 0.3411764705882353);
  backdrop-filter: blur(4px);
  /* box-shadow: 1px 4px 12px -5px rgb(61 61 61 / 66%); */
  border-radius: 0.5rem;
  /* background: #77838f47; */
  height: auto;
  margin-bottom: -7%;
  border: none;
  width: 60%;
  padding: 2%;
  margin-top: 0%;
  margin-bottom: 43px;
}
textarea.textarea_mealaddress {
  background: white;
  width: 100%;
  border: 1px solid #21212133;
  border-radius: 6px;
  padding-left: 7px;
  line-height: 16px;
  height: 123%;
}
div.vertical_line_appointment_submealaddress {
  border-left: 1px solid grey;
  height: auto;
}
div.card_MealAdress {
  margin-top: 2rem;
  margin: 74px;
  padding: 2rem;
  box-shadow: 1px 3px 4px -2px rgb(61 61 61 / 66%);
  border-radius: 1rem;
  background: #fafafa;
  height: 86%;
}
div.img_container_mealaddress {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
img.card_img_rounded_mealaddress {
  width: 121px;
  box-shadow: 0px 0px 10px -2px rgb(61 61 61 / 66%);
}

h5.immunne_text_mealaddress {
  color: purple;
  font-weight: 1000;
  font-size: 23px;
  text-align: center;
  margin: 1rem;
}
h5.bhd_text_mealaddress {
  color: #303960;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: -4px;
}
h5.bhd_text_mealaddress_subttile {
  color: #303960;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin: 4px;
  margin-top: 14px;
}
h5.week_text_title {
  color: #303960;
  font-size: 15px;
  font-weight: 600;
}
h6.subtitle_mealaddress {
  color: grey;
  font-size: 8px;
  margin-top: 3px;
  margin-left: -26px;
}
div.weekdata_mealaddress {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
}
h6.select_date_mealaddress {
  color: #303960;
  font-size: 15px;
  font-weight: 600;
  margin-top: 13px;
}
div.datepicker_container_mealaddress {
  margin-bottom: 18px;
  margin-top: 16px;
}
h6.shipping_title_mealaddress {
  color: #303960;
  font-size: 15.5px;
  margin-bottom: 15px;
  margin-top: 20px;
}
p.adress_subtitle_mealaddress {
  font-size: 7px;
  padding: 3px;
  margin-top: 5px;
}
span.change_text_mealaddress {
  font-size: 9px;
  margin: 6px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
button.continue_btn_mealaddress {
  background-color: rgb(139, 196, 65);
  color: #fff;
  padding: 0.7rem;
  width: 11rem;
  padding-top: 9px;
  font-size: 16px;
  border: none;
  border-radius: 0.4rem;
  margin-right: -47px;
  height: 42px;
  bottom: 0px;
}
div.btn_Mealadresscontainer {
  display: flex;
  justify-content: flex-end;
}
}

@media only screen and (min-width: 1200px) {
  input.appointmentdate_subtitle {
    margin-top: 4%;
    border: 1px solid #c4c4c433;
    border-radius: 5px;
    background-color: #fff;
    padding: 2%;
    width: 81%;
    font-size: 18px;
    box-shadow: 1px 3px 4px -2px rgb(61 61 61 / 66%);
    outline: none;
  }
  div.main_container_mealaddressMain {
    display: grid;
    place-items: end;
  }

  input.male_input_submeal_second {
    margin-left: 8px;
    margin-top: 0px;
  }
  label.male_text_submeal_second {
    margin: 4%;
    font-size: 14px;
    letter-spacing: 0px;
    margin-right: 14px;
    margin-top: 9px;
  }
  input.male_input_submeal:checked:after {
   width: 15px;
   height: 15px;
   border-radius: 15px;
   top: -9px;
   left: -1px;
   position: relative;
   background-color: rgb(139, 196, 65);
   content: "";
   display: inline-block;
   visibility: visible;
   border: 2px solid rgba(139, 196, 65, 0.049);
 }
 label.male_text_submeal {
  margin: 4%;
  font-size: 14px;
  letter-spacing: 0px;
  margin-right: 14px;
  margin-top: 9px;
}
button.week_btn_mealaddress {
  border: none;
  color: #fff;
  border-radius: 25px;
  height: 44px;
  width: 44px;
  font-size: 15px;
  background-color: rgb(139, 196, 65);
}
div.fullcard_container_mealaddressmain {
  background: hsla(0, 0%, 98.4%, 0.3411764705882353);
  backdrop-filter: blur(4px);
  margin-right: 3%;
  /* box-shadow: 1px 4px 12px -5px rgb(61 61 61 / 66%); */

  border-radius: 0.5rem;
  height: auto;
  margin-bottom: -7%;
  border: none;
  width: 60%;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 66px;
}
textarea.textarea_mealaddress {
  width: 100%;
  border: 1px solid #21212133;
  background: white;
  border-radius: 6px;
  padding: 7px;
  line-height: 20px;
  height: 98%;
  font-size: 16px;
  margin-bottom: 11px;
  margin-top: 16px;
}
div.vertical_line_appointment_submealaddress {
  border-left: 1px solid grey;
  height: auto;
  margin: 1%;
}
div.card_MealAdress {
  margin-top: 2rem;
  margin: 74px;
  height: 86%;
  padding: 2rem;
  box-shadow: 1px 3px 4px -2px rgb(61 61 61 / 66%);
  border-radius: 1rem;
  background: #fafafa;
}
div.img_container_mealaddress {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
img.card_img_rounded_mealaddress {
  width: 125px;
  box-shadow: 0px 0px 16px -2px rgb(61 61 61 / 66%);
}

h5.immunne_text_mealaddress {
  font-family: sans-serif;
  color: purple;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  /* margin: 1rem; */
}
h5.bhd_text_mealaddress {
  color: #303960;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin-top: -1px;
}
h5.bhd_text_mealaddress_subttile {
  color: #303960;
  font-weight: 0;
  font-size: 13px;
  text-align: justify;
  margin: 13px;
  margin-top: 40px;
}
h5.week_text_title {
  color: #303960;
  font-size: 19px;
  font-weight: 600;
}
h6.subtitle_mealaddress {
  color: grey;
  font-size: 10px;
  margin-top: 4px;
  margin-left: -49px;
  width: 150%;
  position: relative;
}
div.weekdata_mealaddress {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
}
h6.select_date_mealaddress {
  color: #303960;
  font-size: 18px;
  font-weight: 600;
  margin-top: 13px;
}
div.datepicker_container_mealaddress {
  margin-bottom: 18px;
  margin-top: 17px;
}
h6.shipping_title_mealaddress {
  color: #303960;
  font-size: 18.5px;
  margin-bottom: 15px;
  margin-top: -10px;
  position: absolute;
  margin-top: 2px;
  font-weight: 700;
}
p.adress_subtitle_mealaddress {
  font-size: 11px;
  padding: 3px;
  margin-top: 5px;
}
span.change_text_mealaddress {
  font-size: 14px;
  margin: 0;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  color: rgb(139, 196, 65);
}
button.continue_btn_mealaddress {
  background-color: rgb(139, 196, 65);
  color: #fff;
  margin-top: 32px;
  padding: 0.7rem;
  width: 40%;
  font-size: 16px;
  border: none;
  padding-top: 9px;
  border-radius: 0.4rem;
  height: 42px;
  border: none;
}

div.btn_Mealadresscontainer {
  display: flex;
  justify-content: flex-end;
}
}
